aiofiles==0.5.0
bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.4
DBUtils==2.0
ecdsa==0.14.1
fastapi==0.58.1
greenlet==1.0.0
h11==0.9.0
idna==2.10
importlib-metadata==4.0.1
Jinja2==2.11.2
jsonpath==0.82
loguru @ file:///C:/Users/Administrator/Desktop/TmpCode/FastAPI-backend/wheels/loguru-0.5.3-py3-none-any.whl
lxml==4.6.2
MarkupSafe==1.1.1
mysqlclient==2.0.2
numpy==1.19.1
pandas==1.0.3
passlib==1.7.2
pikepdf==2.11.4
Pillow==7.2.0
psutil @ file:///C:/Users/Administrator/Desktop/psutil-5.8.0-cp37-cp37m-win_amd64.whl
pyasn1==0.4.8
pycparser==2.20
pydantic==1.6.1
PyMySQL==0.10.0
python-dateutil==2.8.1
python-docx==0.8.10
python-jose==3.2.0
python-multipart==0.0.5
pytz==2020.1
redis==3.5.3
requests==2.24.0
rsa==4.6
scipy==1.5.4
six==1.15.0
SQLAlchemy==1.4.11
starlette==0.13.4
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.11.8
websockets==8.1
win32-setctime==1.0.3
xlrd==1.2.0
zipp==3.4.1
